.btn-apple{
  color: white;
}
.btn{
  color: white;
}
.btn-dark{
  background-color: #0F90F3;
}
.row span{
  margin-left: 410px;
}
.uk-flex{
justify-content: flex-start ;
align-items: center;
margin-left: -18px;
padding-bottom: 10px
}
.descricao-rede-social{
  margin-left: 5px;

}
.descricao-rede-social {
  color:#343a40!important;
  font-size: 12px;
  opacity: 0.8;
}
.icofont-facebook, .icofont-twitter, .icofont-instagram{
  color:#343a40!important;
  opacity: 0.8;
}
