<div class="fixed-bottom-padding">
  <!-- bread_cum -->
  <nav aria-label="breadcrumb" class="breadcrumb mb-0">
    <div class="container">
       <ol class="d-flex align-items-center mb-0 p-0">
          <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Produtos Recomendados</li>
       </ol>
    </div>
 </nav>
 <!-- body -->
 <section class="py-4 osahan-main-body">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <div class="osahan-listing">
                <div class="d-flex align-items-center mb-3">
                   <h4>Produtos Recomendados</h4>
                   <div class="m-0 text-center ml-auto">
                      <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn text-muted bg-white mr-2"><i class="icofont-filter mr-1"></i> Filtro</a>
                      <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn text-muted bg-white"><i class="icofont-signal mr-1"></i> Ordenar Por</a>
                   </div>
                </div>
               <div>
                <app-recommend-slide></app-recommend-slide>
               </div>
             </div>
          </div>
       </div>
    </div>
 </section>
</div>

