<body>
  <!-- bread_cum -->
  <nav aria-label="breadcrumb" class="breadcrumb mb-0">
   <div class="container">
      <ol class="d-flex align-items-center mb-0 p-0">
         <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Busca</li>
      </ol>
   </div>
</nav>
<!-- body -->
<section class="py-4 osahan-main-body">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <a [routerLink]="['/listing']" class="text-dark">
               <div class="d-flex align-items-center bg-white shadow-sm rounded mb-2 p-3">
                  <img src="assets/img/search/s1.jpg" class="img-fluid rounded shadow-sm mr-3">
                  <span class="font-weight-bold">
                     Skin Care
                     <p class="small text-muted m-0">Faça você mesmo em casa</p>
                  </span>
               </div>
            </a>
            <a href="listing" class="text-dark">
               <div class="d-flex align-items-center bg-white shadow-sm rounded mb-2 p-3">
                  <img src="assets/img/search/s2.jpg" class="img-fluid rounded shadow-sm mr-3">
                  <span class="font-weight-bold">
                     Cronograma capilar
                     <p class="small text-muted m-0">Deixe seus cabelos fortes e brilhosos</p>
                  </span>
               </div>
            </a>
            <a href="listing" class="text-dark">
               <div class="d-flex align-items-center bg-white shadow-sm rounded mb-2 p-3">
                  <img src="assets/img/search/s3.jpg" class="img-fluid rounded shadow-sm mr-3">
                  <span class="font-weight-bold">
                     Kit depilação
                     <p class="small text-muted m-0">Sua pele hidrata e perfeita</p>
                  </span>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>
</body>

