<div
  class="uk-position-relative uk-light uk-gride-small uk-width-expand  "
  tabindex="-1"
  uk-slider
>
  <ul
    class="uk-slider-items uk-child-width-1-6 "
  >
    <li class=" text-center uk-text-bold uk-card " >
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/maquiagem.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="100"
          height="100"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Maquiagens</p>
      </a>
    </li>
    <li class="text-center uk-text-bold uk-card  ">
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/shampoo.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="80"
          height="120"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Cabelos</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/unhas.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="70"
          height="120"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Unhas</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/higiene.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="80"
          height="150"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Higiene</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
      <img
        src="assets/imagens/equipamentos.png"
        class="img-fluid px-2 mx-auto uk-border-rounded"
        width="100"
        height="150"
        alt=""
      />
      <p class="m-0 pt-2 text-center">Equipamentos</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
      <img
        src="assets/imagens/depilacao.png"
        class="img-fluid px-2 mx-auto uk-border-rounded"
        width="80"
        height="150"
        alt=""
      />
      <p class="m-0 pt-2 text-center">Depilação</p>
    </a>
    </li>
    <li class=" text-center uk-text-bold uk-card " >
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/maquiagem.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="100"
          height="100"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Maquiagens</p>
      </a>
    </li>
    <li class="text-center uk-text-bold uk-card  ">
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/shampoo.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="80"
          height="120"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Cabelos</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/unhas.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="70"
          height="120"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Unhas</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
        <img
          src="assets/imagens/higiene.png"
          class="img-fluid px-2 mx-auto uk-border-rounded"
          width="80"
          height="150"
          alt=""
        />
        <p class="m-0 pt-2 text-center">Higiene</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
      <img
        src="assets/imagens/equipamentos.png"
        class="img-fluid px-2 mx-auto uk-border-rounded"
        width="100"
        height="150"
        alt=""
      />
      <p class="m-0 pt-2 text-center">Equipamentos</p>
      </a>
    </li>
    <li class="text-center uk-text-bold ">
      <a [routerLink]="['/listing']">
      <img
        src="assets/imagens/depilacao.png"
        class="img-fluid px-2 mx-auto uk-border-rounded"
        width="80"
        height="150"
        alt=""
      />
      <p class="m-0 pt-2 text-center">Depilação</p>
    </a>
    </li>
  </ul>

  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-previous
    uk-slider-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-next
    uk-slider-item="next"
  ></a>
</div>
