
.breadcrumb{
  padding: 1.2rem 1rem;
  line-height: 0.5;
}
.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.button-wrap {
  display: flex;
  position: relative;
  text-align: center;
  top: 40%;
  margin-top: -2.5em;
}

@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 4em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 0.25em;
  background: #ffffff;
  background: #ffffff;
  border: 1px solid black;

  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h1 {
  color: black;
  font-weight: 700;
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  color: #101010;
}
.button-label:active {
  transform: translateY(1px);
  border: #702E2E;
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

#yes-button:checked + .button-label {
  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }
  color: #efefef;


}
#yes-button:checked + .button-label:hover {
  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }
  color: #e2e2e2;

}

#no-button:checked + .button-label {
  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }
  color: #efefef;
}
#no-button:checked + .button-label:hover {
  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }

  color: #e2e2e2;
}

#no-button:checked, #maybe-button:checked, #yes-button:checked {
  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }

  color: #e2e2e2;
}

#maybe-button:checked + .button-label {

  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }
  color: #efefef;
}
#maybe-button:checked + .button-label:hover {

  border: 2px solid #702E2E;

  h1 {
    color: #702E2E;

    svg {
      filter: invert(13%) sepia(50%) saturate(2122%) hue-rotate(335deg) brightness(108%) contrast(79%);
    }
  }
  color: #e2e2e2;
}

.hidden {
  display: none;
}

