
  <!-- bread_cum -->
  <nav aria-label="breadcrumb" class="breadcrumb ">
    <div class="container">
      <ol class="d-flex align-items-center mb-0 p-0">
        <li class="breadcrumb-item">
          <a (click)="voltar()" class="text-success-icon" uk-icon="chevron-left"></a>
          <a (click)="voltar()" class="text-success" style="padding-top: 7px;">Voltar</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Nossas Lojas </li>
      </ol>
    </div>
  </nav>
  <!-- body -->
  <section class="py-4 osahan-main-body">
    <div class="container">
      <div class="row">
        <app-tela-de-usuario></app-tela-de-usuario>
        <div class="col-lg-8 p-4 bg-white rounded shadow-sm">
          <h4 class="mb-4 profile-title">Nossas Lojas</h4>
          <div id="basics">
            <!-- Basics Accordion -->
            <div id="basicsAccordion">
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white" >
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Bezerra Menezes</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Av. Bezerra de Menezes,2375 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title   align-items-center card-btn p-3 collapsed ">Loja Exalla Augusto dos Anjos</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Av. Augusto dos Anjos, 1140 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Francisco</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Sá Av. Francisco Sá, 3950 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Centro 1</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Rua General Sampaio, 1159 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Messejana</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Rua José hipólito, 280 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Shopping Aledota</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Av. Dom Luis, 500 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
                 <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Cambeba</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Av. Washington Soares, 6180. Loja 16 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
                 <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Shopping Eusébio</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Av. Eusébio de Queiroz 1890 - Loja 79 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
              <!-- Card -->
              <ul uk-accordion class="box border rounded mb-1 bg-white">
                <li class="">
                  <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                    Solares Shopping</a>
                  <div class="uk-accordion-content">
                    <p class="  d-flex align-items-center card-btn p-3 collapsed">Rua Waldir Diogo, 1138 – loja 17 WhatsApp:
                      (85) 2525-2020</p>
                  </div>
                </li>
              </ul>
              <!-- End Card -->
                   <!-- Card -->
                   <ul uk-accordion class="box border rounded mb-1 bg-white">
                    <li class="">
                      <a class="uk-accordion-title  align-items-center card-btn p-3 collapsed ">Loja Exalla
                        Maracanaú</a>
                      <div class="uk-accordion-content">
                        <p class="  d-flex align-items-center card-btn p-3 collapsed">Rua João de Alencar, 113- Loja 06. Centro de Maracanaú WhatsApp:
                          (85) 2525-2020</p>
                      </div>
                    </li>
                  </ul>
                  <!-- End Card -->
            </div>
            <!-- End Basics Accordion -->
          </div>
        </div>
      </div>
    </div>
  </section>

