.btn-apple {
  color: white;
}
.uk-radio{
  margin-left: 1rem;
}
.btn {
  color: white;
}

.bg-success {
  background-color: #702e2e;
}

.text-warning {
  color: white;
}

.icofont-bubble-right {
  color: #702e2e;
}

.uk-card-primary.uk-card-body .uk-link-toggle:hover .uk-link,
.uk-card-primary.uk-card-body .uk-link:hover,
.uk-card-primary.uk-card-body a:hover,
.uk-card-primary>:not([class*=uk-card-media]) .uk-link-toggle:hover .uk-link,
.uk-card-primary>:not([class*=uk-card-media]) .uk-link:hover,
.uk-card-primary>:not([class*=uk-card-media]) a:hover,
.uk-card-secondary.uk-card-body .uk-link-toggle:hover .uk-link,
.uk-card-secondary.uk-card-body .uk-link:hover,
.uk-card-secondary.uk-card-body a:hover,
.uk-card-secondary>:not([class*=uk-card-media]) .uk-link-toggle:hover .uk-link,
.uk-card-secondary>:not([class*=uk-card-media]) .uk-link:hover,
.uk-card-secondary>:not([class*=uk-card-media]) a:hover,
.uk-light .uk-link-toggle:hover .uk-link,
.uk-light .uk-link:hover,
.uk-light a:hover,
.uk-offcanvas-bar .uk-link-toggle:hover .uk-link,
.uk-offcanvas-bar .uk-link:hover,
.uk-offcanvas-bar a:hover,
.uk-overlay-primary .uk-link-toggle:hover .uk-link,
.uk-overlay-primary .uk-link:hover,
.uk-overlay-primary a:hover,
.uk-section-primary:not(.uk-preserve-color) .uk-link-toggle:hover .uk-link,
.uk-section-primary:not(.uk-preserve-color) .uk-link:hover,
.uk-section-primary:not(.uk-preserve-color) a:hover,
.uk-section-secondary:not(.uk-preserve-color) .uk-link-toggle:hover .uk-link,
.uk-section-secondary:not(.uk-preserve-color) .uk-link:hover,
.uk-section-secondary:not(.uk-preserve-color) a:hover,
.uk-tile-primary:not(.uk-preserve-color) .uk-link-toggle:hover .uk-link,
.uk-tile-primary:not(.uk-preserve-color) .uk-link:hover,
.uk-tile-primary:not(.uk-preserve-color) a:hover,
.uk-tile-secondary:not(.uk-preserve-color) .uk-link-toggle:hover .uk-link,
.uk-tile-secondary:not(.uk-preserve-color) .uk-link:hover,
.uk-tile-secondary:not(.uk-preserve-color) a:hover {
  color: #702e2e
}

.btn-dark {
  background-color: #0F90F3;
}

.fixed-bottom-padding {
  line-height: 0;
}

.uk-grid {
  margin: -20px;
  padding: -20px;
}

.form-group label {
  margin: 0 0 7px 0;
}

.my-0 {
  line-height: 1.5;
}

.uk-position-center {
  left: 46%;
}

.btn-success.focus,
.btn-success:focus {
  background-color: #702e2e;
  border-color: #702e2e;
}
.form-control{
  margin-bottom: 7px;
}
.btn:hover{
  color: white;
}
@media (max-width:1138px){
.landing-page{
  display: none;
}

}
.formulario{
  margin-bottom: -3px;

}
