<body class="fixed-bottom-padding">

  <!-- bread_cum -->
  <nav aria-label="breadcrumb" class="breadcrumb mb-0">
   <div class="container">
      <ol class="d-flex align-items-center mb-0 p-0">
         <li class="breadcrumb-item"><a href="#" class="text-success">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Minha Conta</li>
      </ol>
   </div>
</nav>
<!-- body -->
<section class="py-4 osahan-main-body">
   <div class="container">
      <div class="row">
        <app-tela-de-usuario></app-tela-de-usuario>
         <div class="col-lg-8 p-4 bg-white rounded shadow-sm">
            <h4 class="mb-4 profile-title">Sugestões</h4>
            <div id="edit_profile">
               <div class="p-0">
                  <form action="help_ticket.html">
                     <div class="form-group">
                        <label for="exampleInputName1">Nome Completo</label>
                        <input type="text" placeholder="Nome Completo" class="form-control" id="exampleInputName1">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">Como podemos melhorar?</label>
                        <input type="text" placeholder="Podemos melhorar?" class="form-control" id="exampleInputHelp1">
                     </div>
                     <button type="submit" class="btn btn-success btn-lg btn-block">Enviar</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

</body>

