<body>

  <!-- bread_cum -->
  <nav aria-label="breadcrumb" class="breadcrumb mb-0">
    <div class="container">
      <ol class="d-flex align-items-center mb-0 p-0">
        <li class="breadcrumb-item">
          <a href="#" class="text-success">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Produtos Exclusivos
        </li>
      </ol>
    </div>
  </nav>
  <!-- body -->
  <section class="py-4 osahan-main-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="osahan-vegan">
            <!-- osahan vegan -->
            <div class="fresh-vegan pb-2">
              <div class="d-flex align-items-center mb-2">
                <h5 class="m-0">Cosméticos</h5>
                <a [routerLink]="['/listing']" class="ml-auto btn btn-outline-success btn-sm"
                  >Veja Mais</a
                >
              </div>
              <div
              class="uk-slider-container-offset uk-margin-auto uk-margin-auto-vertical"
              uk-slider="autoplay: true;autoplay-interval: 2000;uk-text-center"
              >
                  <div
                    class="uk-position-relative uk-visible-toggle uk-light; uk-margin-remove;"
                    tabindex="-1"
                  >
                    <ul
                      class="uk-slider-items uk-child-width-1-4@s uk-grid uk-margin-auto-vertical "
                    >
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded ">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7898126407550/1.png
                                      "
                              width="60"
                              height="120"
                              alt=""

                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7897161400090/1.png
                                      "
                              width="112"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top;">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7898606742904/1.png
                                      "
                              width="55"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7899572810383/1.png
                                      "
                              width="75"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7899572810383/1.png
                                      "
                              width="75"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>

                    <a
                      class="uk-position-center-left uk-position-small uk-hidden-hover"
                      href="#"
                      uk-slidenav-previous
                      uk-slider-item="previous"
                    ></a>
                    <a
                      class="uk-position-center-right uk-position-small uk-hidden-hover"
                      href="#"
                      uk-slidenav-next
                      uk-slider-item="next"
                    ></a>
                  </div>

                  <ul
                    class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"
                  ></ul>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <h5 class="m-0">Maquiagens</h5>
                  <a [routerLink]="['/listing']" class="ml-auto btn btn-outline-success btn-sm"
                    >Veja Mais</a
                  >
                </div>
                <div
                class="uk-slider-container-offset uk-margin-auto uk-margin-auto-vertical"
                uk-slider="autoplay: true;autoplay-interval: 2000;uk-text-center"
                >
                    <div
                      class="uk-position-relative uk-visible-toggle uk-light; uk-margin-remove;"
                      tabindex="-1"
                    >
                      <ul
                        class="uk-slider-items uk-child-width-1-4@s uk-grid uk-margin-auto-vertical "
                      >
                        <li class="">
                          <div class="uk-card uk-card-default uk-text-center uk-border-rounded ">
                            <div class="uk-card-media-top">
                              <img
                                src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7898126407550/1.png
                                        "
                                width="60"
                                height="120"
                                alt=""

                              />
                              <h5 class="text-success">Spinach</h5>
                              <h6 class="mb-1 font-weight-bold">$0.32</h6>
                              <p class="text-gray mb-0 small">
                                Fresh Broccoli item from Thailand.
                              </p>
                              <p class="small text-muted m-0 text-success">
                                200 grm.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                            <div class="uk-card-media-top">
                              <img
                                src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7897161400090/1.png
                                        "
                                width="112"
                                height="120"
                                alt=""
                              />
                              <h5 class="text-success">Spinach</h5>
                              <h6 class="mb-1 font-weight-bold">$0.32</h6>
                              <p class="text-gray mb-0 small">
                                Fresh Broccoli item from Thailand.
                              </p>
                              <p class="small text-muted m-0 text-success">
                                200 grm.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                            <div class="uk-card-media-top;">
                              <img
                                src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7898606742904/1.png
                                        "
                                width="55"
                                height="120"
                                alt=""
                              />
                              <h5 class="text-success">Spinach</h5>
                              <h6 class="mb-1 font-weight-bold">$0.32</h6>
                              <p class="text-gray mb-0 small">
                                Fresh Broccoli item from Thailand.
                              </p>
                              <p class="small text-muted m-0 text-success">
                                200 grm.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                            <div class="uk-card-media-top">
                              <img
                                src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7899572810383/1.png
                                        "
                                width="75"
                                height="120"
                                alt=""
                              />
                              <h5 class="text-success">Spinach</h5>
                              <h6 class="mb-1 font-weight-bold">$0.32</h6>
                              <p class="text-gray mb-0 small">
                                Fresh Broccoli item from Thailand.
                              </p>
                              <p class="small text-muted m-0 text-success">
                                200 grm.
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                            <div class="uk-card-media-top">
                              <img
                                src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7899572810383/1.png
                                        "
                                width="75"
                                height="120"
                                alt=""
                              />
                              <h5 class="text-success">Spinach</h5>
                              <h6 class="mb-1 font-weight-bold">$0.32</h6>
                              <p class="text-gray mb-0 small">
                                Fresh Broccoli item from Thailand.
                              </p>
                              <p class="small text-muted m-0 text-success">
                                200 grm.
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul>

                      <a
                        class="uk-position-center-left uk-position-small uk-hidden-hover"
                        href="#"
                        uk-slidenav-previous
                        uk-slider-item="previous"
                      ></a>
                      <a
                        class="uk-position-center-right uk-position-small uk-hidden-hover"
                        href="#"
                        uk-slidenav-next
                        uk-slider-item="next"
                      ></a>
                    </div>

                    <ul
                      class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"
                    ></ul>
                  </div>


              <div class="d-flex align-items-center mt-4 mb-2">
                <h5 class="m-0">Higiene</h5>
                <a [routerLink]="['/listing']" class="ml-auto btn btn-outline-success btn-sm"
                  >Veja mais</a
                >
              </div>
              <div
              class="uk-slider-container-offset uk-margin-auto uk-margin-auto-vertical"
              uk-slider="autoplay: true;autoplay-interval: 2000;uk-text-center"
              >
                  <div
                    class="uk-position-relative uk-visible-toggle uk-light; uk-margin-remove;"
                    tabindex="-1"
                  >
                    <ul
                      class="uk-slider-items uk-child-width-1-4@s uk-grid uk-margin-auto-vertical "
                    >
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded ">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7898126407550/1.png
                                      "
                              width="60"
                              height="120"
                              alt=""

                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7897161400090/1.png
                                      "
                              width="112"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top;">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7898606742904/1.png
                                      "
                              width="55"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7899572810383/1.png
                                      "
                              width="75"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <div class="uk-card uk-card-default uk-text-center uk-border-rounded">
                          <div class="uk-card-media-top">
                            <img
                              src="https://midiasmarketplace-dev.guarany.com.br/imagens/produto/auto/7899572810383/1.png
                                      "
                              width="75"
                              height="120"
                              alt=""
                            />
                            <h5 class="text-success">Spinach</h5>
                            <h6 class="mb-1 font-weight-bold">$0.32</h6>
                            <p class="text-gray mb-0 small">
                              Fresh Broccoli item from Thailand.
                            </p>
                            <p class="small text-muted m-0 text-success">
                              200 grm.
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>

                    <a
                      class="uk-position-center-left uk-position-small uk-hidden-hover"
                      href="#"
                      uk-slidenav-previous
                      uk-slider-item="previous"
                    ></a>
                    <a
                      class="uk-position-center-right uk-position-small uk-hidden-hover"
                      href="#"
                      uk-slidenav-next
                      uk-slider-item="next"
                    ></a>
                  </div>

                  <ul
                    class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"
                  ></ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

