<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="l-top">
          <li>
            <a [routerLink]="['']"
              ><i class="icofont-checked"></i> Comodidade e Qualidade</a
            >
          </li>
          <li>
            <a [routerLink]="['']"
              ><i class="icofont-checked"></i> Rapidez na Entrega</a
            >
          </li>
          <li>
            <a [routerLink]="['']"
              ><i class="icofont-checked"></i> Melhores Produtos</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="r-top">
          <li>
            <a [routerLink]="['']"
              ><i class="icofont-headphone-alt"></i> Contato :
              (85)2525-2020</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="osahan-main-body">
  <div class="container">
     <div class="row d-flex align-items-center justify-content-center vh-100">
        <div class="col-lg-6">
           <div class="osahan-verification shadow bg-white p-4 rounded">
              <div class="osahan-form p-3 text-center mt-3">
                 <h2>Verifique seu número</h2>
                 <p>Digite o código de 4 dígitos que enviamos para você</p>
                 <p>98*** ***76</p>
                 <form action="home.html">
                    <div class="row my-5 px-5">
                       <div class="col px-2">
                          <input type="text" placeholder="0" class="form-control opt form-control-lg text-center">
                       </div>
                       <div class="col px-2">
                          <input type="text" placeholder="0" class="form-control opt form-control-lg text-center">
                       </div>
                       <div class="col px-2">
                          <input type="text" placeholder="0" class="form-control opt form-control-lg text-center">
                       </div>
                       <div class="col px-2">
                          <input type="text" placeholder="0" class="form-control opt form-control-lg text-center">
                       </div>
                    </div>
                    <p><a href="#" class="text-decoration-none text-success">Reenviar código</a></p>
                    <p><a href="#" class="text-decoration-none text-dark">
                      Ligue-me em vez disso</a></p>
                    <a mat-raised-button href="" class="btn btn-success btn-block btn-lg">Continue</a>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>

